@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&display=swap');

$azure: #4B8BBE;
$laplazul: #306998;
$shandy: #FFE873;
$sunglow: #FFD43B;
$granite: #646464;

@keyframes bounce {
    0% {transform: scale(1,1) translate(0em, 0em);}
    30% {transform: scale(1,0.8) translate(0em .6em);}
    75% {transform: scale(1,1) translate(0em, -.6em);}
    100% {transform: scale(1,1) translate(0em, 0em);}
}

@keyframes appear {
    0% {opacity: 0; bottom: -10px;}
    25% {opacity: 0.25; bottom: -7.5px;}
    50% {opacity: .5; bottom: -5px;}
    75% {opacity: .75; bottom: -2.5px;}
    100% {opacity: 1; bottom: 0px;}
}

.topics-container {
    animation: appear .4s linear;
}

.menu-btn {
    border-radius: 10px;
    display: none;
}

.content {
    display: flex;
    flex-direction: column;
    font-family: Open Sans;
    font-size: 1.5em;

    .text-header {

        display: flex;
        align-items: center;
        justify-content: center;

        h2 {
            text-align: center;
            font-weight: 400;
            font-size: 1.6em;
            color: white;
        }

        .image-box .dumbell {
            width: 65px;
            animation: bounce 1.5s linear infinite;
            margin: auto;
            margin-left: 1.5vw;
        }

    }

    .first-row, .second-row {
        display: flex;
        justify-content: space-evenly;
    }

    .topics-container {
        position: relative;
        width: 15%;
        text-align: center;
        height: 35vh;
        margin-bottom: 2.5em;
        border-radius: 1.5vw;
        background: $shandy;
        color: $granite;
        cursor: pointer;
        transition: transform .5s, box-shadow .5s;
        border: $shandy;

        .topics {
            position: absolute;
            border-radius: 1.5vw;
            width: 80%;
            left: 10%;
            top: 25%;
            font-weight: bold;
            transition: transform .5s ease-in-out;
        }

        p {
            width: 100%;
            position: absolute;
            top: 65%;
            margin: auto;
            font-size: .7em;
            transition: .5 ease-in-out;
        }


        .sub-topics {
            text-align: center;

            .header3 {
                position: absolute;
                font-size: .55em;
                top: 45%;
                height: 50%;
                display: flex;
                width: 100%;
                flex-direction: column;
                justify-content: space-evenly;
                opacity: 0;
                visibility: hidden;
                transition: .5 ease-in-out;
            }
    
        }
    }

    .topics-container:hover {
        transform: translateY(-.6em);
        box-shadow: 0em .6em .3em darkslategrey;
        transition: transform .5s, box-shadow .5s;

        .topics {
            transform: translateY(-35%);
            transition: .5s ease-in-out;
        }

        p {
            opacity: 0;
            visibility: hidden;
            transition: .5s;
        }

        .sub-topics .header3 {
            opacity: 1;
            visibility: visible;
            transform: translateY(-5%);
            transition: .5s ease-in-out;
        }
    }
}

.topic-link {
    text-decoration: none;
    color: $granite;
}

.topic-link:hover {
    text-decoration: underline;
}

.topic-link:active {
    color: black;
}

h3 {
    margin:0;
    padding: 0;
}

@media only screen and (max-width: 820px) {
    .container {
        display: flex;
    }

    .menu-btn {
        position: fixed;
        margin-top: 20px;
        display: block;
        width: 50px;
        height: 50px;
        cursor: pointer;
    }

    .navbar {
        position: fixed;
        display: none;
        height: 98vh;
        width: 20vw;
        background: $sunglow;
    }

    .content {
        margin: auto;
        padding-left: 15vw;

        .text-header {

            .dumbell {
                width: 20vw;
            }
        }

        .first-row, .second-row {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .topics-container {
            width: 38vw;
            height: 45vh;
            box-shadow: 0em .6em .3em darkslategrey;
            border-radius: 1.8em;

            p {
                display: none;
            }

            .topics {
                top: 5vh;
            }

            .sub-topics .header3 {
                opacity: 1;
                visibility: visible;
                font-size: 0.7em;
                left: 0;
                top: 15vh;
            }
        }
    }
}

@media only screen and (max-width: 480px) {
    body {
        overflow-x: hidden;
    }

    .menu-btn {
        width: 12vw;
        height: 12vw;
    }

    .navbar {
        background: #646464;
        z-index: 50;
    }

    .container {
        position: relative;
        display: block;
        width: 100vw;
        padding: 0;
        left: 0;
        top: 0;

        .text-header {
            display: flex;
            flex-direction: column;

            h2 {
                font-size: .85em;
                margin-bottom: 3px;
            }

            .dumbell {
                width: 10vw;
            }
        }

        .content {
            padding: 0;

            h2 {
                position: relative;
                margin: auto;
                margin-bottom: 7vh;
                font-size: 1.2em;

                img {
                    position: relative;
                    margin-top: 1em;
                }
            }
        }

        .topics-container {
            width: 70vw;
            height: 50vh;
            border-radius: 2em;
        }
    }
}